
/* custom styles */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.w-90 {
  width: 90%;
}

.bg-light-blue {
  background-color: #f5f5fe;
}

.bg-light-grey {
  background-color: #d6d4cf;
}














/* main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: calc(100vh - 4rem);
  padding: 0 4rem;
} */
